html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
    --input-errors: hsl(0, 100%, 66%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("./images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: 25vw 100vh;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 500;
    overflow-x: hidden;
        width: 100%;
        height: 100%;
}

img {
    display: block;
    max-width: 100%;
}

label {
    color: var(--very-dark-violet);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
    font-family: 'Space Grotesk', sans-serif;
}

input {
    border: 1px solid var(--light-grayish-violet);
    border-radius: 10px;
    width: 100%;
    padding: .75rem;
    margin: .5rem 0;
}

input:active, input:focus {
    border: 2px solid;
    border-image: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 1;
}

.lower-container {
    display: flex;
    align-items: center;
    
}

.date-container input {
    width: 45%;   
}

#btn {
    width: 100%;
    background-color: var(--very-dark-violet);
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-weight: 500;
    font-size: 1.25rem;
    font-family: 'Space Grotesk', sans-serif;
    transition: all 0.2s ease-in;
}

#continue-btn {
    width: 100%;
    background-color: var(--very-dark-violet);
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-weight: 500;
    font-size: 1.25rem;
    font-family: 'Space Grotesk', sans-serif;
    transition: all 0.2s ease-in;
    margin-top: 1em;
}

#cc-number-display, #name-display, #exp-display, #cvs-display {
    color: var(--light-grayish-violet);
}

.card-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    padding: 4em 1em;
    align-items: center;
    gap: 2em;
}

.front {
    background-image: url("./images/bg-card-front.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 27.938rem;
    height: 15.313rem;
    border-radius: 10px;
    position: relative;
    align-self: flex-start;
    animation: fade-in 1.2s .25s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    /* transform: perspective(1000px) rotateY(10deg); */
}

.back {
    background-image: url("./images/bg-card-back.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 27.938rem;
    height: 15.313rem;
    border-radius: 10px;
    align-self: flex-end;
    position: relative;
    animation: fade-in 1.8s .75s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    /* transform: perspective(1000px) rotateY(15deg); */
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.logo {
    position: absolute;
    top: 8%;
    left: 5%;
    animation: bounce-in-top 1.1s 2s both;
}

@keyframes bounce-in-top {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }

    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

.display-container {
    position: absolute;
    top: 35%;
    left: 5%;
}

.flex-display {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10rem;
}

#cc-number-display {
    color: var(--light-grayish-violet);
    font-size: 1.5rem;
    letter-spacing: 4px;
}

#name-display,
#exp-month-display, #exp-year-display {
    color: var(--light-grayish-violet);
    letter-spacing: 3px;
    font-size: .85rem;
}

#slash {
    color: var(--light-grayish-violet);
    margin-right: .1em;
}

#cvc-display {
    position: absolute;
    right: 11%;
    bottom: 40%;
    color: var(--light-grayish-violet);
}

.form-container {
    /* border: 1px solid blue; */
    padding: 2em;
    margin: 0 auto;
}

form {
    padding: 1em;
}

.grid-container {
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: 45% 40%;
    place-items: center stretch;
    gap: 4em;
    width: 80%;
    margin: 0 auto;
    padding: 2.5em;
}

.card-number-error, #card-format-error {
    color: var(--input-errors);
    font-size: .7rem;
    margin-top: 0;
}

#success-container {
    display: none;
    text-align: center;
    padding: 2em;
    width: 100%;
}

.success-image {
    margin: 0 auto;
}

#success-container h1 {
    font-weight: 500;
    color: var(--very-dark-violet);
}

#success-container p {
    color: var(--dark-grayish-violet);
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Space Grotesk', sans-serif;
}

@media screen and (max-width: 1000px) {
    html {
        width: 100%;
    }
    
    body {
        background-size: 100vw 30vh;
        background-image: url("./images/bg-main-mobile.png");
        width: 100%;
    }
    
    .grid-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 0;
        padding: 0;
        margin: 0 auto;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 0;
        padding: 0;
        margin: -5% auto;
    }

    .front, .back {
        width: 100%;
        height: auto;
        transform: none;
        animation: none;
        font-size: 80%;
        width: 22.35em;
        height: 12.25em;
        margin: 0 auto;
    }

    .front {
        grid-area: 3 / 2 / 5 / 4;
    }

    .back {
        grid-area: 2 / 3 / 4 /5;
    }

    .logo {
        width: 15%;
    }

    #cc-number-display {
        letter-spacing: 2px;
        font-size: 1.25rem;
    }

    #name-display {
        font-size: .75rem;
    }

    .flex-display {
        justify-content: space-between;
        gap: 3rem;
    }

}

@media screen and (max-width: 600px) {
    .card-container {
        width: 90%;
        margin: 0;
        padding: 0;
    }
    
    .front, .back {
        width: 14.5275em;
        height: 7.9625em;
    }

    #cc-number-display {
        font-size: .75rem;
    }

    #name-display, #exp-month-display,
    #exp-year-display {
        font-size: .5rem;
    }

    #cvc-display {
        bottom: 30%;
    }
}